// ------- Breakpoints --------
$x-small: 320px;
$small: 600px;
$medium: 960px;
$large: 1248px;
$x-large: 1888px;

// ----- Global variables -----

// ----- Colors -----
$base-color-1: #6358dc;
$base-color-2: #a455e2;
$color-dark: #343a5e;
$color-light: white;
$color-positive: #00e389;
$color-negative: #ff0069;
$lightgrey: #f5f5f5;
$greylighten-1: #bdbdbd;
$darkgrey: darkgrey;
$grey: grey;
