@import '~vuetify/src/styles/styles.sass';

@import '~assets/scss/_modal.scss';

$primary: #6B5DFF !important;

body {
  font-family: 'Roboto', sans-serif;
}

.v-application {
  font-family: 'Roboto', sans-serif;

  .primary {
    background-color: $primary;
    border-color: $primary;

    &--text {
      color: $primary;
      caret-color: $primary;
    }
  }

  .v-snack__content {
    display: flex;
    align-items: center;
  }
}

